
{% load staticfiles %}
<link href='{% static "sheets/css/main_css.css" %}' rel='stylesheet' type='text/css'>
<table align="center">
	<tr>
		<td >
			<div class="logo"></div>
			<div class="login-block" >
			    <h1>Sign In</h1>
			    <input type="text" value="" placeholder="Username" id="username" />
			    <input type="password" value="" placeholder="Password" id="password" />
			    <button>Sign Up</button>
			</div>
		</td>
		<td>
		&nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
		</td>
		<td align="center">
			<div class="logo"></div>
			<div class="login-block">
			    <h1>Sign Up</h1>
			    <input type="text" value="" placeholder="Username" id="username" />
			    <input type="password" value="" placeholder="Password" id="password" />
			    <button>Sign Up</button>
			</div1>
		</td>
	</tr>
</table>				